@font-face {
  font-family: 'Luckiest Guy';
  src: url('LuckiestGuy-Regular.ttf') format('truetype');
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: 'Luckiest Guy', serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.2),
    4px 4px 8px rgba(0, 0, 0, 0.15),
    6px 6px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 5rem;
}

.header {
  color: #f0f0f0;
  position: fixed;
  top: 10px;
  left: 10px;
}

.score {
  color: #f0f0f0;
  position: fixed;
  top: 10px;
  right: 10px;
}


.suggestion-container {
  position: relative;
  display: inline-block;

  input {
    width: 20vw;
    padding: 12px 20px;
    border: 1px solid #dfe1e5;
    border-radius: 12px;
    outline: none;

    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);

    font-size: 16px;
    font-family: sans-serif;
    color: #202124;

    transition:
      box-shadow 0.2s ease-in-out,
      border-color 0.2s,
      border-radius: 0.15s;
  }

  input:focus {
    border-color: #b0b3b8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  input:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  }

  input.has-suggestions {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .clear-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 22px;
    color: #474747;
    display: none;
    user-select: none;
  }

  input:not(:placeholder-shown) + .clear-btn {
    display: block;
  }

  .clear-btn:hover {
    color: #555;
  }

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    border: 1px solid #b0b3b8;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    right: 0;
    background-color: white;
    overflow-y: auto;
  }

  ul:empty {
    display: none;
  }

  li {
    padding: 8px 20px;
    font-size: 16px;
    font-family: sans-serif;
    color: #202124;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  li:hover {
    background-color: #f3f5f6;
  }
}

.pushable {
  background: hsl(85deg, 100%, 28%) ;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.pushable {
  transition: filter 600ms;
  user-select: none;
}

.pushable:hover {
  transition: filter 250ms;
  filter: brightness(105%);
}

.pushable {
  -webkit-tap-highlight-color: transparent;
}

.shadow {
  filter: blur(4px);
}

.edge {
  background: linear-gradient(
  to left,
  hsl(85deg 100% 16%) 0%,
  hsl(85deg 100% 32%) 8%,
  hsl(85deg 100% 32%) 92%,
  hsl(85deg 100% 16%) 100%
  );
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(90deg 100% 38%);
  color: white;
  transform: translateY(-6px);
}
