@font-face {
  font-family: 'Luckiest Guy';
  src: url('LuckiestGuy-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Luckiest Guy', serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.2),
    4px 4px 8px rgba(0, 0, 0, 0.15),
    6px 6px 12px rgba(0, 0, 0, 0.1);
}

.big {
  font-size: 5rem;
}

.header {
  color: #f0f0f0;
  position: fixed;
  top: 10px;
  left: 10px;
}

.score {
  color: #f0f0f0;
  position: fixed;
  top: 10px;
  right: 10px;
}

img {
  border-radius: 3px;
  width: 100%;
  max-width: 70vw;
  height: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,.05),0 2px 4px rgba(0,0,0,.05),0 8px 16px rgba(0,0,0,.05),0 32px 64px rgba(0,0,0,.125)
}

input {
  border-radius: 3px;
}

.suggestion-container {
  position: relative;
}

ul {
  padding: 0;
  line-height: 1.3;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f2efef;
  list-style: none;
  margin: 0;
  overflow-y: auto;
}

.pushable {
  background: hsl(85deg, 100%, 28%) ;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.pushable {
  transition: filter 600ms;
  user-select: none;
}

.pushable:hover {
  transition: filter 250ms;
  filter: brightness(105%);
}

.pushable {
  -webkit-tap-highlight-color: transparent;
}

.shadow {
  filter: blur(4px);
}

.edge {
  background: linear-gradient(
  to left,
  hsl(85deg 100% 16%) 0%,
  hsl(85deg 100% 32%) 8%,
  hsl(85deg 100% 32%) 92%,
  hsl(85deg 100% 16%) 100%
  );
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(90deg 100% 38%);
  color: white;
  transform: translateY(-6px);
}
